Markdown
markdown-it-py
MarkupSafe
matplotlib
numerize
numpy
oauthlib
openpyxl
pyaudio
pyproject-toml
PyAudio
opt-einsum
packaging
pandas
pandas-profiling
streamlit
streamlit-apexjs
streamlit-card
streamlit-elements
streamlit-option-menu
streamlit-pandas-profiling
plotly
plotly-express
scikit-learn
seaborn
pmdarima
statsmodels
surprise
langchain
streamlit_chat
datetime
python-dateutil
transformers
spacy
SpeechRecognition
